<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/94f5e1f0d5.js" crossorigin="anonymous"></script>
    
    <script src="js/bingo.js"></script>
    <script src="js/cookie.js"></script>
    <script src="js/chat.js"></script>

    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/game.css">

    <title>Bingo</title>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-md-offset-4 title">
                    <h1>B I N G O !</h1>
                </div>

                <div class="col-md-9 main">
                    <div class='row'>
                        <div class="info_header col-md-12 ">
                            <div class='col-md-4'>
                                <span>유저 이름 : </span>
                                <span id="my_name"></span>
                            </div>
                            <div class='col-md-4'>
                                <span>빙고 : </span>
                                <span id="bingoCount">0</span>
                            </div>
                            <div class='col-md-4'>
                                <span>현재 차례 : </span>
                                <span id="user_turn"></span>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-md-12'>
                            <table class="table table-bordered">
                                <tr>
                                    <td id="0" class="num" onclick="Bingo(this)"></td>
                                    <td id="1" class="num" onclick="Bingo(this)"></td>
                                    <td id="2" class="num" onclick="Bingo(this)"></td>
                                    <td id="3" class="num" onclick="Bingo(this)"></td>
                                    <td id="4" class="num" onclick="Bingo(this)"></td>
                                </tr>
                                <tr id="row_2">
                                    <td id="5" class="num" onclick="Bingo(this)"></td>
                                    <td id="6" class="num" onclick="Bingo(this)"></td>
                                    <td id="7" class="num" onclick="Bingo(this)"></td>
                                    <td id="8" class="num" onclick="Bingo(this)"></td>
                                    <td id="9" class="num" onclick="Bingo(this)"></td>
                                </tr>
                                <tr id="row_3">
                                    <td id="10" class="num" onclick="Bingo(this)"></td>
                                    <td id="11" class="num" onclick="Bingo(this)"></td>
                                    <td id="12" class="num" onclick="Bingo(this)"></td>
                                    <td id="13" class="num" onclick="Bingo(this)"></td>
                                    <td id="14" class="num" onclick="Bingo(this)"></td>
                                </tr>
                                <tr id="row_4">
                                    <td id="15" class="num" onclick="Bingo(this)"></td>
                                    <td id="16" class="num" onclick="Bingo(this)"></td>
                                    <td id="17" class="num" onclick="Bingo(this)"></td>
                                    <td id="18" class="num" onclick="Bingo(this)"></td>
                                    <td id="19" class="num" onclick="Bingo(this)"></td>
                                </tr>
                                <tr id="row_5">
                                    <td id="20" class="num" onclick="Bingo(this)"></td>
                                    <td id="21" class="num" onclick="Bingo(this)"></td>
                                    <td id="22" class="num" onclick="Bingo(this)"></td>
                                    <td id="23" class="num" onclick="Bingo(this)"></td>
                                    <td id="24" class="num" onclick="Bingo(this)"></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="result_modal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{ result(WIN! || LOSE!) }</h4>
                                </div>
                                <div class="modal-body">
                                    <span id="winner"></span>
                                    <p>{사용자 이름}</p>
                                    <p>{사용자 이름}</p>
                                    <p>{사용자 이름}</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="./game.html">
                                        <button type="button" class="btn btn-primary" >다시하기</button>
                                    </a>
                                    <a href="./">
                                        <button type="button" class="btn btn-danger"  onclick="deleteCookie()">나가기</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Model End-->
                </div> 

                <div class='col-md-3 chat'>
                    <div class='row chat_log'>
                        <ul id="chat_list" class='list-group'>
                            <!-- chat log -->
                        </ul>
                    </div>
                    <div class='row'>
                        <div class="col-md-12 input-group input_chat">
                            <div class="col-md-12 publisher bt-1 border-light"> 
                                <input class="publisher-input" id="msg" type="text" placeholder="Write something">
                                <button id="send_btn" class="publisher-btn text-info" href="#" data-abc="true">
                                    <i class="fa fa-paper-plane" onclick="sendMessage()"></i>
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</body>
<script> 
    window.onload(function(){
        var nickname = getCookie();
        if(nickname == ""){
            alert("Nickname이 없으므로 초기화면으로 돌아갑니다.")
            location.href = './';
        } 
    
        $('#my_name').innerHTML = nickname;
    });

</script>
</html>